<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	
  <appSettings>
    <add key="DBServer" value="localhost" />
    <add key="DBName" value="Cooperativa_Prueba0" />
    <add key="DBUsername" value="root" />
    <add key="DBPassword1" value="2001" />
  </appSettings>
</configuration>
